@model ASP.NET_MVC_Exercise.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentDetails</title>
</head>
<body>
    <div> 
        <h1>Items created successfully</h1>
    </div>
</body>
</html>
